:root {
    /* --primary-color: #111418; */
    --primary-color: rgba(0, 0, 0, 0);
}

html, body {
    /* background-color: var(--primary-color); */
    background-image: url("/assets?image=background.png");
    color: white;
    overflow: hidden;
    /* position: fixed; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.vsep90 {
    border-left: 1px solid white;
    height: 90vh;
}
.vsep70 {
    border-left: 1px solid white;
    height: 80vh;
}

.container {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    height: 90vh;
    width: 95vw;
    display: flex;
    border: solid 1px white;
    border-radius: 20px;
}

.subcontainer {
    display: flex;
    margin: 1rem 1rem;
    height: 85vh;
    width: 45vw;
    flex-direction: column;
    align-items: center;
}

.item, .optionSquare {
    margin: 1rem 1rem;
    height: 200px;
    width: 200px;
    border: solid 1px white;
    border-radius: 20px;
}

.item > div {
    padding-bottom: 0.5rem;
}

.optionSquare {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

#menu-list > .item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#checkout-list > .item {
    font-weight: 200;
    font-size: medium;
    width: 40vw;
    height: 6vh;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px white;
    padding: 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-weight: 600 !important;
    font-size: x-large !important;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text > p {
    margin-right: .5rem;
}
.text > p:first-child {
    color: yellow;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
    justify-content: center;
}

#checkout-list {
    /* wtf? */
    align-content: flex-start;
    /* flex-direction: column;  */
}


.button {
    border: solid 1px white;
    border-radius: 10px;
    height: 50px;
    width: 20vw;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}

#checkout-menu {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    width: 80vw;
    height: 80vh;
    border: solid 1px white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkout-menu > .subcontainer {
    width: 40vw;
    height: 75vh;
}

#receipt {
    overflow-y: auto;
}

#receipt > .item, .itemSlim {
    margin-left: 0;
    padding-left: 0;
    font-weight: 150;
    font-size: medium;
    width: 25vw;
    height: 2vh;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px white;
    padding: 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#checkout-menu > .subcontainer > .header {
    font-weight: 550 !important;
    font-size: large !important;
}

.closebutton {
    align-self: flex-end;
}

.closebutton > svg {
    height: 24px;
    width: 24px;
}

#qrcode {
    height: 400px;
}