:root {
    --primary-color: #111418;
}


html, body {
    background-color: var(--primary-color);
    color: white;
    overflow: hidden;
    position: fixed;
}

.vsep90 {
    border-left: 1px solid white;
    height: 90vh;
}
.vsep70 {
    border-left: 1px solid white;
    height: 70vh;
}

.container {
    position: fixed;
    height: 90vh;
    width: 95vw;
    display: flex;
    border: solid 1px white;
    border-radius: 20px;
}

.subcontainer {
    display: flex;
    margin: 1rem 1rem;
    height: 85vh;
    width: 45vw;
    flex-direction: column;
    align-items: center;
}

.item {
    margin: 1rem 1rem;
    height: 150px;
    width: 150px;
    border: solid 1px white;
    border-radius: 20px;
}

#menu-list > .item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#checkout-list > .item {
    font-weight: 200;
    font-size: medium;
    width: 40vw;
    height: 6vh;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px white;
    padding: 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-weight: 600 !important;
    font-size: x-large !important;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text > p {
    margin-right: .5rem;
}
.text > p:first-child {
    color: red;
}

.subsection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
}

#checkout-list {
    flex-direction: column;
}


.button {
    border: solid 1px white;
    border-radius: 10px;
    height: 50px;
    width: 20vw;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    backdrop-filter: brightness(50%) blur(5px);
    align-items: center;
    justify-content: center;
}

#checkout-menu {
    width: 60vw;
    height: 70vh;
    background-color: var(--primary-color);
    border: solid 1px white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkout-menu > .subcontainer {
    width: 25vw;
    height: 65vh;
}

#checkout-menu > .subcontainer > .item {
    margin-left: 0;
    padding-left: 0;
    font-weight: 150;
    font-size: medium;
    width: 25vw;
    height: 2vh;
    border-radius: 0;
    border: none;
    border-bottom: solid 1px white;
    padding: 1rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#checkout-menu > .subcontainer > .header {
    font-weight: 550 !important;
    font-size: large !important;
}

.closebutton {
    align-self: flex-end;
}

.closebutton > svg {
    height: 24px;
    width: 24px;
}