<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}">
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="subcontainer" id="menu-section">
            <div class="subsection" id="menu-list">
                <!-- <div class="item" onclick="addToList(this, 1)">Gà nướng</div>
                <div class="item" onclick="addToList(this, 2)">Gà xào</div>
                <div class="item" onclick="addToList(this, 3)">Gà chiên</div> -->
            </div>
        </div>
        <div class="vsep"></div>
        <div class="subcontainer" id="checkout-section">
            <div class="subsection" id="checkout-list" style="height: 90vh;">
                <!-- <div class="item">gà nướng</div>
                <div class="item">gà xào</div> !-->
                <div class="item header">
                    <div class="text">Món ăn</div>
                    <div class="price">Đơn giá</div>
                    <div class="price">Tổng</div>
                </div>
                <div class="item header">
                    <div class="text">Tổng đơn</div>
                    <div class="price">0.000đ</div>
                </div>
            </div>
            <div class="subsection button" id="checkout-button">Thanh toán</div>
        </div>
    </div>
    <div class="container popup">
        <div id="checkout-menu"></div>
    </div>
</body>
</html>